<!-- <p>profile works!</p> -->
<h1>This is User's Profile</h1>
<h1>Welcome, {{ name }}!</h1>

<p> Name: 
    <input [(ngModel)]="name" >
    <button (click)="restName()" [disabled]="!name">Rest</button>
    <button (click)="saveName()" [disabled]="!name">Save</button>
</p>
<p> Email: 
    <input [(ngModel)]="email">
    <button (click)="restEmail()" [disabled]="!email">Rest</button>
    <button (click)="saveEmail()" [disabled]="!email">Save</button>
</p>
<p> Date Of Birth: 
    <input [(ngModel)]="DoB"> 
    <button (click)="restDob()" [disabled]="!DoB">Rest</button>
    <button (click)="saveDob()" [disabled]="!DoB">Save</button>
</p>

<hr>

<p>
    Save button clicked: {{ saveCount }} 
    <button (click)="saveProfile()" [disabled]="!name && !email && !DoB">Save</button>
    <button (click)="restSave()" [disabled]="!name && !email && !DoB">Rest</button>
</p>
<hr>

<h3>Profile Preview (Read-Only)</h3>
<p>Name: {{ name }}</p>
<p>Email: {{ email }}</p>
<p>DOB: {{ DoB }}</p>
