<p>observable-operators works!</p>
<h1>Rxjs</h1>
<h2>ractive programming</h2>

<p>modifier componment -- state Changes in service(Observable) -- reciever should be update(subscriber)</p>
<p>Observer -- Observable(publisher) -- all subscribers</p>

<!-- observable(publisher)           subsription          subscribers

action: subscribe       /   unsubscribe -->

<app-receiver></app-receiver>

<p>Observable / Subject / Rxjs Operators</p>

<p>1. rxjs library, reciever/emit a stream of data</p>
<p>2. lazy, only starts to emit when it's subscribed (obs.subscribe)</p>
<p>3. can be stopped by unsubscribing(obs.unsubscribe)</p>
<p>4. has more operators from rxjs : pure function</p>
<p>5. unnecesary to unsubscribe: when the obs stop on its own</p>